
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<br />

<input type="hidden" id="hidUserID" value="@ViewBag.UserID" />
@Html.Action("ShoutBoxPartial", "Home")

