body {
    margin: 0px;
    padding: 0px;
}

@media only screen and (max-width: 768px) {
    header nav .container .collapse .home-sec, 
    header nav .container .collapse .auth-sec {
        gap: 0 !important;
    }
}
